<?xml version="1.0" encoding="utf-8" ?>
 <configuration>
	<appSettings>
		<add key ="GoRestBaseUrl" value ="https://gorest.co.in/public-api/"></add>
	</appSettings>
	<runtime>
		<assemblyIdentify name="nunit.framework" publicKeyToken = "2638cd05610744eb" culture="neutral" />
			<depependentAssembly> 
			</depependentAssembly> 	
			<assemblyBinding>
			</assemblyBinding>
	</runtime>
</configuration>
